<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sorted Job</title>

    <!-- CSS -->
    <link rel="stylesheet" href="style.css">
</head>
<body>
<h2>Sort Jobs</h2>
    <table>
        <thead>
            <tr>
                <th>Job</th>
            </tr>
        </thead>

        <tbody>
            <tr th:each="job : ${jobs}">
                <td th:text="${job}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>