<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Group Job By Count</title>

    <!-- CSS -->
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h2>Group Job By Count</h2>
    <table>
        <thead>
            <tr>
                <th>Job</th>
                <th>Count</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="job : ${jobs}">
                <td th:text="${job.key}"></td>
                <td th:text="${job.value}"></td>
            </tr>
        </tbody>

    </table>
</body>
</html>