<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>

    <!-- CSS -->
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h2>Choose option</h2>
    <p><a href="getAll" target="_blank">1. Get All Person</a></p>
    <p><a href="sortPeopleByFullName" target="_blank">2. Sort People By Full Name</a></p>
    <p><a href="getSortedJobs" target="_blank">3. Sorted Job</a></p>
    <p><a href="getSortedCities" target="_blank">4. Sorted Cities</a></p>
    <p><a href="groupPeopleByCity" target="_blank">5. Group People By City</a></p>
    <p><a href="groupJobByCount" target="_blank">6. Group Job By Count</a></p>
    <p><a href="aboveAverageSalary" target="_blank">7. Above Average Salary List</a></p>
    <p><a href="longestName" target="_blank">8. Longest Person's name</a></p>
</body>
</html>